body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

#content {
    display: flex;
}

.nav {
    display: flex;
    background-color: #e9ecef;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main {
    width: 80%;
    padding: 10px;
}
